@import 'tailwindcss';
@plugin 'daisyui';

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

html, body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Default state: Hide scrollbar */
.hover-scrollbar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}
.hover-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

/* Hover state: Show scrollbar */
.hover-scrollbar:hover {
    scrollbar-width: thin; /* Firefox */
}
.hover-scrollbar:hover::-webkit-scrollbar {
    scrollbar-width: thin;
    display: block; /* Chrome/Safari */
}